coverage
flake8
flake8-bandit
flake8-commas
flake8-comprehensions
flake8-docstrings
flake8-isort
flake8-print
flake8-quotes
flake8-use-fstring
httpx
pep8-naming
pip-check-reqs
pre-commit
pylint
pytest
pytest-asyncio
pytest-cov
